@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Roboto", sans-serif;
}

.header_list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
}
.header {
  height: 52px;
  margin: 20px 50px;
}
div > a, li > a {
  text-decoration: none;
  color: black;
}
.bg-image {
  background-image: url(../images/back1.jpg);
  background-color: #cccccc;
  height: 100%;
  width: auto;
}
.button1 {
  background-color: #fffbfb00;
  color: white;
  padding: 0 40px;
  height: 52px;
  border: 1px solid white;
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
}
.button2 {
  background-color: #fffbfb00;
  color: black;
  padding: 0 40px;
  height: 42px;
  border: 1px solid black;
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
}